doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Tic Tac Toe
		link(rel='stylesheet' href='/style.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script.
			const gameData = !{JSON.stringify(gameData)};
	body
		section#team-selector
			#selector-title Select your team
			#selector-buttons
				.button#x-team(data-team='x')
					.name X
					.player-count #{xCountString}
				.or OR
				.button#o-team(data-team='o')
					.name O
					.player-count #{oCountString}
		section#game
			h1 World Tic Tac Toe
			h2 You are on the <span id='team-indicator'></span> team
			#status-board
				#status-message #{gameData.status}
				#status-bar
					#status-bar-inner
				#scoreboard
					.team#x-score
						.name X
						.score #{gameData.x.score}
						.player-count #{xCountString}
					.team#o-score
						.name O
						.score #{gameData.o.score}
						.player-count #{oCountString}
			table#grid
				tbody
					each row in [0, 1, 2]
						tr
							each col in [0, 1, 2]
								td.cell(id=(row * 3 + col), data-value=gameData.grid[row + col])= gameData.grid[row + col]
		script(src='/script.js')
